@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
  font-family: "Play", "DM Sans", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
}

.el-menu {
  background: #e10600;
  border-bottom: none !important;
  box-shadow: -2px 0 8px -2px rgba(0, 0, 0, 0.15);
}

.el-menu--horizontal > .el-menu-item {
  color: #f8f8f8;
  background: none !important;
  background-color: none !important;
}

.el-menu--horizontal > .el-menu-item:hover {
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}

.app-title {
  font-size: 1.3em !important;
  line-height: 58px !important;
  height: 58px !important;
}

.el-pagination {
  padding: 30px;
}

.standard-card {
  padding: 15px;
}

.standard-card .el-card__body {
  padding: 0;
  height: 110px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.standard-card .el-card__body .div-info {
  padding-left: 20px;
  display: block;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.standard-card .el-card__body img {
  display: block;
  max-height: 110px;
  max-width: 100px;
  position: absolute;
}
.standard-card .el-card__body img.bottom {
  bottom: 0;
  right: 0;
}
.standard-card .el-card__body img.center {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.standard-card .el-card__body .div-info .standard-card-big {
  font-size: 1.3em;
  font-weight: bold;
}


/* GITHUB CORNER */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
